#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-border {
    animation: App-border-spin infinite 100s linear;
  }
}

@keyframes App-border-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotating-border {
    animation: second-border-spin infinite 120s linear;
  }
}

@keyframes second-border-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}